/* 客户标签 start */
.tag {
  line-height: 18px;
  padding: 6px 10px;
  margin: 0 5px 10px;
  background: #FFF;
  border: 0.5px solid #E8E8E8;
  border-radius: 3px;
}
.tag--seleted {
  color: #1876FC;
  background: rgba(24, 118, 252, .1);
  border: 0.5px solid #1876FC;
}
.tag--forbidden {
  color: rgba(24, 118, 252, .45);
  background: rgba(24, 118, 252, .1);
  border: 0.5px solid rgba(24, 118, 252, .45);
}
.tag.tag--primary {
  color: rgba(255, 255, 255, .9);
  line-height: 16px;
  padding: 4px 10px;
}
.tag-list {
  font-size: 0;
  padding: 15px 5px 5px 10px;
}
.tag--cancelBlank {
  font-size: 0;
}
.tag-details .tag-details__item {
  position: relative;
  padding: 15px;
}

/* 修改页面的边框过粗问题 start */
.tag-details .tag-details__item + .tag-details__item::before {
  height: unset;
  position: unset;
  background-color: unset;
}
.tag-details>div::after{
  content:'';
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  transform: scaleY(0.5);
}
.tag-details__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E8E8E8;
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -webkit-transform-origin: top left;
}
.tag-details__item:first-child::after {
  border-bottom: 0;
}
/* 修改页面的边框过粗问题 end */

.tag-details__item--smallSpace {
  padding: 15px 5px 5px 10px !important;
}
.tag-details .tag-details__title {
  font-size: 14px;
  color: #262626;
  font-weight: bold;
  margin-bottom: 11px;
  padding-right: 0;
}
.tag-details__title--space {
  padding-left: 5px;
}
.tag-details .tag-details__tags {
  padding: 0;
}
/* 客户标签 end */
.text-title {
  font-size: 14px;
  line-height: 23px;
}
.right-arrow {
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-top: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  transform: rotate(45deg);
}
.tag-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  font-size: 14px;
  color: #262626;
  border: 0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  color: #BFBFBF;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  color: #BFBFBF;
}

input:-ms-input-placeholder {
  font-size: 14px;
  color: #BFBFBF;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: #BFBFBF;
}
.state-bar__save {
  color: #1876FC;
  line-height: 22px;
  position: absolute;
  right: 15px;
  top: 14px;
}
.tag-list--nodata {
  font-size: 14px;
  color: #8C8C8C;
  line-height: 22px;
}
.float-layout__title {
  font-weight: bold;
}
.float-layout .float-layout__content {
  border-top: 0.5px solid #E8E8E8;
}

.text-disable {
  color: #BFBFBF !important;
}
.font-weight-medium {
  font-size: 16px;
  color: #262626;
  line-height: 24px;
  font-weight: bold;
}

.float-layout__save {
  font-size: 16px;
  color: #1876FC;
  letter-spacing: 0;
}
/* 日期选择器样式覆盖 */
.rolldate-panel header {
  font-weight: bold;
}
.rolldate-container .rolldate-btn {
  font-size: 16px !important;
}
.float-select .float-select__item + .float-select__item::before {
  background-color: unset;
}
.float-select .float-select__item {
  border-bottom: 0.5px solid #E8E8E8;
}
.float-select .float-select__item:last-child {
  border-bottom: 0;
}
.input-disable {
  background: transparent;
}


/* 修改弹框的边框过粗问题 start */
.float-layout__main .float-layout__title>div::after{
  content:'';
  width:100%;
  border-bottom: 1px solid #E8E8E8;
  transform: scaleY(0.5);
}
.float-layout__title>div::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom: 1px solid #E8E8E8;
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -webkit-transform-origin: top left;
}
.float-layout__content {
  border-top: 0 !important;
}
.float-select .float-select__item + .float-select__item::before {
  height: 0;
  background-color: unset;
}
.float-select>div::after{
  content:'';
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  transform: scaleY(0.5);
}
.float-select__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E8E8E8;
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -webkit-transform-origin: top left;
}
.float-select__item:first-child::after {
  border-bottom: 0;
}
/* 修改弹框的边框过粗问题 start */
.input-disable {
  background: transparent;
}
