registry=http://27.154.234.170:18081/repository/npm/
always-auth=true
_auth="bnBtOkN4MkpnNjMyNyFYOTUjdWc="
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
