* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    background: #F2F2F2;
}
.exchange {
    width: 100%;
}
.exchange .exchange__main {
    margin: 27px;
    padding: 40px 0;
    background: #FFF;
    border-radius: 10px;
}
.content {
    position: relative;
}
.content .content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}
.headportrait {
   position: relative;
}
.headportrait  .headportrait__avatarpic {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}
.headportrait  .headportrait__only {
    font-size: 10px;
    color: #F64647;
    text-align: center;
    line-height: 20px;
    width: 72px;
    height: 22px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    background: #FEECEC;
    border: 1px solid rgba(246,70,71,0.50);
    border-radius: 50px;
}
.uname {
    font-size: 14px;
    color: #292C2E;
    text-align: center;
    max-width: 100%;
    margin-top: -2px;
}
.store {
    font-size: 12px;
    color: #999;
    text-align: center;
    max-width: 100%;
    margin-top: 3px;
}
.arrow {
    width: 18px;
    height: 14px;
}
.arrow .arrow__img {
    width: 100%;
    height: 100%;
}
.division {
    margin-top: 40px;
    position: relative;
}
.division  .division__line {
    width: 88%;
    height: 1px;
    margin: 0 auto;
    background: #F2F2F2;
}
.division .division__circle {
    width: 17px;
    height: 17px;
    position: absolute;
    top: -8px;
    background: #F2F2F2;
    border-radius:  50%;
}
.division .division__circle--left {
    left: -8px;
}
.division .division__circle--right {
    right: -8px;
}
.unique {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 35px 20px 0;
}
.replace {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 10px 20px 0;
}
.replace .replace__name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin: 0 5px;
}
.noexchange {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding: 25px 20px 0;
}
.exchange__btn {
    padding: 40px 50px 0;
}
.confirm {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 50px;
    background: #207BFB;
    border-radius: 50px;
}
.detail {
    display: flex;
}
.detail .detail__item {
    flex: 1;
    padding: 0 15px;
}
