.el-button {
  border-radius: var(--default-button-radius);
}
.el-button.is-round {
  padding: var(--default-button-round-padding);
}
.el-button--text {
  padding-left: 0;
  padding-right: 0;
  color: var(--theme-color-primary);
}
