.el-checkbox-group {
  .el-checkbox.is-bordered {
    margin-bottom: var(--default-margin-small);
    margin-left: var(--default-margin-small)!important;
  }
  .el-checkbox {
    margin-left: 0!important;
    margin-right: var(--default-margin-larger);
  }
}

.el-checkbox {
  + .el-checkbox {
    margin-left: var(--default-margin-larger);
  }
}
.el-radio {
  + .el-radio {
    margin-left: var(--default-margin-larger);
  }
}
