.el-collapse-item__header {
  background-color: var(--theme-bg-color-base);
  padding-left: var(--default-margin-larger);
  border-bottom:0;
  margin-bottom:var(--default-margin-base);
  border-radius:var(--default-radius-mini);
}
.el-collapse-item__wrap .el-collapse-item__content {
  padding-bottom: var(--default-padding-base);
}
.el-collapse{
  border:0;
}
.el-collapse-item__wrap{
  border-bottom:0;
}
