* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    min-height: 100%;
}
body {
    background-image: linear-gradient(234deg, #4AADFA 0%, #5D7CFC 100%);
}
.addfriend {
    width: 100%;
}
.addfriend .addfriend__success {
    font-size: 14px;
    color: #207BFB;
    text-align: center;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    background: #FFFFFF;
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
}
.addfriend .addfriend__success>img {
    width: 18px;
    margin-right: 5px;
}
.addfriend .addfriend__content .content {
    margin: 55px 40px;
    padding: 25px 0 55px;
    background: #FFFFFF;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.addfriend .addfriend__content .content .content__news {
    text-align: center;
    font-size: 14px;
    color: #292C2E;
    padding: 0 20px;
}
.division {
    margin-top: 20px;
    position: relative;
}
.division  .division__line {
    width: 88%;
    margin: 0 auto;
    opacity: 0.2;
    border: 1px solid #00ACFF;
}
.division .division__circle {
    width: 9px;
    height: 18px;
    position: absolute;
    top: -9px;
}
.division .division__circle--left {
    left: 0;
    background: #5593FB;
    border-radius:  0 9px 9px 0;
}
.division .division__circle--right {
    right: 0;
    background: #4EA4FA;
    border-radius: 9px 0 0 9px;
}
.content .content__qrcode {
    width: 50%;
    margin: 45px auto 0;
    background: rgba(0,0,0,0.00);
    box-shadow: 0 6px 13px 2px rgba(64,95,222,0.08);
}
.content .content__qrcode .qrcodeimg {
    width: 100%;
    height: 100%;
}
.content .content__bottom {
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.content .content__bottom  .circleimg {
    width: 100%;
    height: 100%;
}
