>>> .el-table__body-wrapper {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9093994d;
  }
}

.el-pagination {
  >>> .el-icon-circle-close {
    display: none;
  }
  >>> .el-icon-circle-check {
    display: none;
  }
}