/* 折叠 */
.common-collapse {
    >>> .el-collapse-item__header {
      background-color: #fff;
      font-size: 14px;
      color: #303133;
      position: relative;
      padding-left: 10px;
      height: 48px;
      font-weight: bold;
      line-height: 48px;
      margin-bottom:0;
      .el-collapse-item__arrow {
        display: none;  
        position: absolute;
        left: 0;
        top: 50%;
        height: 38px;
        margin-top: -19px;
      }
    }
    >>> .el-collapse-item__wrap {
      padding-left: 0px;
    }
    &.noOver >>> .el-collapse-item__wrap {
      overflow: visible !important;
    }
  }