.el-alert {
  padding: 8px;
  &.border-info__unique{
    border:1px solid color(var(--theme-color-primary) a(0.23));
    background: var(--theme-color-primary-bg);
    color: var(--theme-font-color-primary);
  }
}
