.el-button {
  border-radius: var(--default-button-radius);
}
.el-button--text {
  padding-left: 0;
  padding-right: 0;
  color: var(--theme-color-primary);
}
.el-button--mini + .el-button--mini{
  margin-left:var(--default-margin-small)
}
.el-button--small + .el-button--small{
  margin-left:var(--default-margin-small)
}
