.el-checkbox__input {
  line-height: 1;
}
.el-checkbox__inner{
  top:0;
}
.el-checkbox{
  font-size:var(--default-font-size-small);
}
.el-checkbox-button:focus:not(.is-focus):not(:active) {
  box-shadow: none;
}
.el-checkbox__label{
  position: relative;
  top:1px;
}
