.el-popper {
  padding: var(--default-padding-base);
  z-index: 3001!important;
  .el-popover__title {
    margin-bottom: 0;
    padding: 5px 8px!important;
    line-height: 24px;
  }
}
.el-popper[x-placement^="bottom"]{
  margin-top: 6px;
}
