.el-transfer {
  .el-transfer-panel__header .el-checkbox .el-checkbox__label {
    position: unset;
  }
  .el-checkbox-group .el-checkbox {
    display: block;
  }
  .el-transfer__buttons {
    .el-transfer__button + .el-transfer__button {
      margin-left: 0!important;
    }
  }
}
