.el-upload__tip{
  margin-top:0;
}
/* 调整-上传图片展示大小 */
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 98px;
}
.el-upload-list--picture-card {
  .el-upload-list__item {
    width: 100px;
    height: 100px;
    margin-top:0;
    &:first-child{
      margin-top:0;
    }
  }
}
