// .addCouponDialogVisible {
//   display: flex;
// }

.form-main {
  position: relative;
  .choose-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    padding: 0 9px;

    p {
      font-size: 14px;
      color: #BFBFBF;
    }

    .text {
      color: #262626;
    }
  }
  .disabled {
    width: 360px;
    height: 32px;
    border: 1px solid #D9D9D9;
    padding: 0 9px;
    border-radius: 3px;
    background: #F5F5F5;
    color: #BFBFBF;
    text-align: right;
    margin-bottom: 21px;
  }
}
.text-primary {
  margin-bottom: 16px;
}
.coupon {
  position: absolute;
  right: 56px;
  top: 0;
  width: 400px;
  min-height: 150px;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: #E8E8E8;
  }

  .coupon-preview {
    font-weight: bold;
    margin-bottom: 24px;
    margin-left: 40px;
    font-size: 16px;
    color: #262626;
    text-align: center;
  }

  .coupon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding-bottom: 20px;
    .couponCard {
      position: relative;
      padding: 12px 6px 0 6px;
      // padding-top: 12px;
      min-width: 379px;
      min-height: 171px;
      background: url(https://hb3-shopguide.oss-cn-zhangjiakou.aliyuncs.com/ECRP-SG-WEB/couponListbg.png) 0 0 no-repeat;
      background-size: 100% 100%;
      img {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 1px;
        top: 1px;
      }
      // box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);

      // &::before {
      //   position: absolute;
      //   content: '';
      //   left: -8px;
      //   top: 120px;
      //   background: #fff;
      //   border: 1px solid#D9D9D9;
      //   width: 16px;
      //   height: 16px;
      //   border-radius: 50px;
      // }
      .couponCard-top {
        display: flex;
        margin-bottom: 6px;
        .couponCard-top__left {
          min-width: 75px;
          padding-top: 5px;
          display: flex;
          justify-content: center;
          .money {
            font-size: 12px;
            color: #F64647;
            span {
              font-size: 20px;
              font-weight: bold;
            }
          }
          .couponType2 {
            padding-top: 10px;
            color: #1876fc;
            .couponType2_number {
              font-weight: bold;
              font-size: 36px;
            }
            .couponType2_number2 {
              font-weight: bold;
              font-size: 28px;
            }
            .couponType2_text {
              font-size: 12px;
            }
          }
          .couponType3 {
            font-size: 36px;
            color: #ffaa00;
            span {
              display: inline-block;
              margin-top: 10px;
            }
          }
        }
        .couponCard-top__right {
          padding-left: 8px;
          padding-top: 5px;
          padding-bottom: 5px;
          border-left: 1px dashed #E8E8E8;
          p {
            max-width: 280px;
            font-size: 12px;
            color: #8C8C8C;
            line-height: 20px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap
          }

          .couponCard-top__right__time {
            font-size: 15px;
            color: #262626;
            font-weight: bold;
            margin-bottom: 4px;
          }
        }
      }
      .couponCard-bottom {
        margin: 0 10px;
        border-top: 1px dashed #e8e8e8;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}