* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    background: #F2F2F2;
}
.exchange {
    width: 100%;
}
.exchange .exchange__main {
    margin: 70px;
    padding: 120px 0 100px;
    background: #FFF;
    border-radius: 20px;
}
.content {
    position: relative;
}
.content .content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.headportrait {
   position: relative;
}
.headportrait  .headportrait__avatarpic {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.headportrait  .headportrait__only {
    font-size: 30px;
    color: #F64647;
    line-height: 48px;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background: #FEECEC;
    border: 1px solid rgba(246,70,71,0.50);
    border-radius: 50px;
}
.uname {
    font-size: 36px;
    color: #292C2E;
    text-align: center;
    max-width: 100%;
    margin-top: 15px;
}
.store {
    font-size: 32px;
    color: #999;
    text-align: center;
    max-width: 100%;
    margin-top: 5px;
}
.arrow {
    width: 45px;
    height: 30px;
}
.arrow .arrow__img {
    width: 100%;
    height: 100%;
}
.division {
    margin-top: 90px;
    position: relative;
}
.division  .division__line {
    width: 88%;
    height: 2px;
    margin: 0 auto;
    background: #F2F2F2;
}
.division .division__leftcircle {
    width: 23px;
    height: 46px;
    position: absolute;
    left: -2px;
    top: -14px;
    background: #F2F2F2;
    border-radius:  0 23px 23px 0;
}
.division .division__rightcircle {
    width: 23px;
    height: 46px;
    position: absolute;
    right: -2px;
    top: -14px;
    background: #F2F2F2;
    border-radius: 23px 0 0 23px;
}
.unique {
    font-size: 34px;
    color: #666;
    text-align: center;
    margin-top: 70px;
}
.replace {
    font-size: 36px;
    color: #666;
    text-align: center;
    margin-top: 25px;
}
.replace .replace__name {
    color: #000;
    font-weight: bold;
    margin: 0 5px;
}
.noexchange {
    font-size: 34px;
    color: #999;
    text-align: center;
    margin-top: 50px;
}
.exchange__btn {
    padding: 80px 100px 0;
}
.confirm {
    font-size: 42px;
    line-height: 130px;
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 130px;
    background: #207BFB;
    border-radius: 100px;
}
.detail {
    display: flex;
}
.detail .detail__item {
    flex: 1;
    padding: 0 30px;
}