* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    background-image: linear-gradient(231deg, #4AADFA 0%, #5D7CFC 100%);
}
.addfriend {
    width: 100%;
}
.addfriend .addfriend__success {
    font-size: 38px;
    color: #207BFB;
    text-align: center;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    background: #FFFFFF;
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
}
.addfriend .addfriend__success>img {
    width: 50px;
    margin-right: 10px;
}
.addfriend .addfriend__content .content {
    margin: 140px 100px;
    padding: 67px 0 40px;
    background: #FFFFFF;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 6px 13px 2px rgba(0,0,0,0.06);
}
.addfriend .addfriend__content .content .content__news {
    text-align: center;
    font-size: 36px;
    color: #292C2E;
}
.division {
    margin-top: 57px;
    position: relative;
}
.division  .division__line {
    width: 88%;
    margin: 0 auto;
    opacity: 0.1;
    background: rgba(0,0,0,0.00);
    border: 2px dotted #4BABFA;
}
.division .division__leftcircle {
    width: 23px;
    height: 46px;
    position: absolute;
    left: -2px;
    top: -14px;
    background: #5392FA;
    border-radius:  0 23px 23px 0;
}
.division .division__rightcircle {
    width: 23px;
    height: 46px;
    position: absolute;
    right: -2px;
    top: -14px;
    background: #4DA4FA;
    border-radius: 23px 0 0 23px;
}
.content .content__qrcode {
    width: 50%;
    margin: 130px auto;
    background: rgba(0,0,0,0.00);
    box-shadow: 0 6px 13px 2px rgba(64,95,222,0.08);
}
.content .content__qrcode .qrcodeimg {
    width: 100%;
    height: 100%;
}
.content .content__bottom {
    height: 20px;
    position: absolute;
    left: 0;
    bottom: -18px;
}
.content .content__bottom  .circleimg {
    width: 100%;
    height: 100%;
}
