.costomcode-footer {
  position: fixed;
  bottom: 20px;
  left: 210px;
  right: 10px;
  height: 78px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.costomcode-footer .btn {
  width: 160px;
  height: 40px;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 14px;
}
.preview-img {
  width: 100%;
  height: 567px;
  background-position:0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-origin: 50% 50%;
  position: relative;
}
.costomcode-footer .btn.current {
  background: #0091FA;
  color: #FFFFFF;
  border: 1px solid #0091FA;
}
.form-item_tip {
  background: #f2f9fe;
  border-radius: 2px;
  padding: 9px 16px;
  font-size: 14px;
  color: #595959;
  line-height: 22px;
  margin-bottom: 25px;
}
.item-box {
  padding: 16px;
  background: #F5F5F5;
  border-radius: 2px;
}
.updata-box {
  display: flex;
  align-items: flex-end;
}
.updata-box .updata-option {
  margin-left: 8px;
  position: relative;
  top: -3px;
}
.updata-box .updata-option .remind-text {
  color: #0392FB;
  font-weight: 400;
}
.updata-box .updata-option .qrcode-bottom-view {
  font-size: 12px;
  color: #8C8C8C;
  line-height: 20px;
}
/* .simple-updata {
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end;
}
.simple-updata .remind-text {
  position: relative;
  top: 5px;
  margin-left: 8px;
}
.upload-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}
.simple-updata .default-updata{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px dashed #D9D9D9;
  border-radius: 2px;
}
.simple-updata .default-updata .company-upload__tip {
  font-size: 24px;
  color: #ddd;
}
.simple-updata >>> .upload-demo .el-upload {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
.simple-updata >>> .poster-content{
  opacity: 0;
  padding: 0;
}
.simple-updata >>> .el-upload-list {
  display: none;
}
.simple-updata >>> .poster-set_content {
  display: none
}
.simple-updata >>> .padingbottom {
  display: none;
} */
.qrcode-bottom-view {
  font-size: 12px;
  color: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  line-height: 20px;
}
.remind-view {
  width: 8px;
  height: 8px;
  background: #f2aa18;
  border-radius: 50%;
  display: block;
  margin-right: 8px;
}
.safe-btn {
  font-size: 12px;
  color: #0094FC;
  line-height: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.middle {
  margin:0 8px;
  width: 88px;
}