.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* input */
.suffix-input >>> .el-input__suffix:before {
  display: none
}
.suffix-input >>> .el-input__inner {
  padding-left: 9px;
}
/* 表单 */
.form-inline_top {
  .el-form-item {
    border: 1px solid #D9D9D9;
    padding: 2px 8px;
    margin-right: 16px !important;
    margin-bottom : 8px;
    height:35px;
    box-sizing:border-box;
    border-radius: 2px;
    >>> .el-form-item__label {
      font-size: 14px;
    }
    >>> .el-input__inner {
      border: none;
      font-size: 14px;
      min-width: 150px;
      max-width: 300px;
    }
    >>> .el-range-input {
      font-size: 14px;
    }
    >>> .el-range-editor--small .el-range-separator {
      line-height: 22px;
      font-size: 14px;
    }
    >>> .el-input__suffix:before {
      display: none;
    }
  }
  >>>.el-form__change .el-input__inner {
    min-width: 0px;
   max-width: 450px;
  }
  >>>.el-form__change.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
    width: 450px;
  }
}
.normal-from {
  >>> .el-color-picker--medium .el-color-picker__trigger {
    width: 60px;
    height: 60px;
    padding: 6px;
  }
  >>> .el-color-picker--medium .el-color-picker__mask {
    width: 60px;
    height: 60px;
  }
  >>> .el-color-picker--medium {
    height: 60px;
  }
  >>> .el-table__body-wrapper {
    /* padding-bottom: 0px; */
  }
  >>> .el-form-item__label {
    font-size: 14px;
    line-height: 22px;
  }
  >>> .larger-item .el-form-item__label {
    line-height: 32px;
  }
  >>> .el-input--medium .el-input__inner {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
  }
  >>> .is-controls-right .el-input--medium .el-input__inner {
    height: 36px;
    line-height: 36px;
  }
  >>> .el-form-item--medium .el-form-item__content {
    line-height: 32px;
  }
  >>> .el-form-item--mini .el-form-item__content {
    line-height: 21px;
  }
  >>> .el-form-item--mini .el-checkbox__label, >>> .el-form-item--mini .el-radio__label {
    font-size: 14px;
    font-weight: normal;
  }
  >>> .el-form-item {
    margin-bottom: 25px;
  }
  >>> .el-form-item--medium .el-form-item__content .el-checkbox{
    line-height: 21px;
  }

  >>> .el-form-item--medium .el-form-item__content .el-radio{
    line-height: 21px;
  }
  >>> .el-input-number.is-controls-right .el-input__inner {
    padding-right: 44px;
  }
}
/* 表格 */
.new-table_border {
  >>> .el-table__header th {
    background-color: #F5F5F5;
    padding: 8px 0;
    .cell {
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        background: #E8E8E8;
        width: 1px;
        right: 0;
        top: 0px;
        bottom: 0px;
      }
    }
  }
}
/* 折叠 */
.customer-collapse {
  >>> .el-collapse-item__header {
    background-color: #fff;
    font-size: 16px;
    color: #262626;
    position: relative;
    padding-left: 26px;
    height: 56px;
    line-height: 56px;
    margin-bottom:0;
    .el-collapse-item__arrow {
      position: absolute;
      left: 0;
      top: 50%;
      height: 38px;
      margin-top: -19px;
    }
  }
  >>> .el-collapse-item__wrap {
    padding-left: 26px;
  }
}
/*popover*/
.form-item_popover {
  padding: 12px 16px;
  >>> .el-popper .el-popover__title {
    padding: 0 !important;
    font-size: 14px;
    color: #8C8C8C;
    line-height: 22px;
    margin-bottom: 13px;
  }
}
/* upload */
.poster-content {
  >>> .el-upload--text {
    width: 100%;
    .el-upload-dragger {
      width: 100%
    }
  }
  >>> .el-form-item {
    margin-bottom: 0px;
  }
}
>>>.el-popover.dwaer-popper {
  min-width: 0 !important;
}

.input-view {
  >>> .el-form-item {
    margin-bottom: 0px;
  }
}
.goods-input-view {
  >>> .el-form-item {
    margin-bottom: 0px;
  }
}
