.addAttach {
  width: 136px;
  height: 32px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  line-height: 32px;
  font-size: 14px;
  color: #0094fc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: #e8f2fe;
    border: 1px solid #c3dbfc;
  }
}
.library-popover {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popover-base {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popver-image {
  width: 35px;
  height: 30px;
}
.popver-text {
  font-size: 12px;
  color: #303133;
  line-height: 20px;
  font-weight: 400;
  margin-top: 5px;
}
.popover-icon {
  font-size: 35px;
  color: #383838;
}
.tip-text {
  font-size: 12px;
  color: #595959;
  font-weight: 400;
}
.tip-reminder {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f2aa18;
  display: inline-block;
  margin-right: 4px;
}
.library-uploader >>> .el-upload--picture-card {
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  color: #8c8c8c;
  line-height: 80px;
  border-radius: var(--default-radius-mini);
}
