/* switch按钮样式 */
.tablescope .el-switch__label {
  position: absolute;
  display: none;
  color: #fff !important;
  line-height: 22px;
  font-size: 12px;
}
/*打开时文字位置设置*/
.tablescope .el-switch__label--right {
  z-index: 1;
}
/* 调整打开时文字的显示位子 */
.tablescope .el-switch__label--right span{
  margin-right: 9px;
}
/*关闭时文字位置设置*/
.tablescope .el-switch__label--left {
  z-index: 1;
}
/* 调整关闭时文字的显示位子 */
.tablescope .el-switch__label--left span{
  margin-left: 15px;
}
/*显示文字*/
.tablescope .el-switch__label.is-active {
  display: block;
  margin-left: 4px;
}
/* 调整按钮的宽度 */
.tablescope.el-switch .el-switch__core,
.el-switch .el-switch__label {
   width: 49px !important;
   height: 20px !important;
   margin: 0;
   border-radius: 10px;
   &:after {
    width: 16px;
    height: 16px;
  }
}
.tablescope.el-switch.is-checked .el-switch__core::after {
  margin-left: -17px !important;
}