.select-data-view >>> .el-tabs__header {
  border: none;
  color: #999999;
}

.select-data-view >>> .el-tabs__item.is-active {
  color: #0094fc;
}
.select-data-view >>> .el-tabs__item {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  height: 56px;
}

.select-data-view >>> .el-tabs__item:focus.is-active.is-focus:not(:active) {
  -webkit-box-shadow: none;
   box-shadow: none;
}

.select-data-view >>> .el-tabs__active-bar {
  background: #0094fc;
}

.date-view >>> .el-input__inner {
  width: 256px;
  height: 35px;
}
.data-view >>> .el-range-input {
  font-size: 14px;
  text-align: center;
}

.date-view >>> .el-range-input {
  font-size: 14px;
  height: 33px;
}

.data-view >>> .el-range-editor--small .el-range-separator {
  line-height: 27px;
  font-size: 14px
}

.item-select >>> .el-input.el-input--small .el-input__inner {
  font-size: 14px;
  border: none;
  width: 80px;
}

.item-select >>> .el-input__suffix .el-input__icon.el-select__caret {
  display: none;
}

.input-view >>> .el-input.el-input--small .el-input__inner {
  font-size: 14px;
  height:32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}
