/* 项目级全局样式 */
/* 单选框在表单中垂直对齐 */
.el-radio-group {
    vertical-align: unset;
}
/* 表格左上角和右上角添加圆角 */
.el-table {
  border-top-left-radius: var(--default-radius-mini);
  border-top-right-radius: var(--default-radius-mini);
}
/* 临时修复样式冲突问题 */
.template-page__row-left {
  min-width: auto!important;
}
