/* 引用项目变量 */
@import "./variables.pcss";
/*复写 element-ui组件库样式*/
/* 组件 */
@import "~@nascent/ecrp-ecrm/src/theme/QA/components/index.pcss";
/* 引用基础全局样式 */
@import "~@nascent/ecrp-ecrm/src/theme/QA/global.pcss";
/* 引用项目全局样式 */
@import "./global.pcss";
/* 引用基础页面样式 */
@import "~@nascent/ecrp-ecrm/src/theme/QA/public/page.pcss";
/* 引用项目页面样式 */
@import "./public/page.pcss";
