* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background: #F2F2F2;
}
.prompt {
    text-align: center;
    padding: 0 15px;
}
.prompt .prompt__img {
    width: 100%;
    margin-top: 130px;
}
.prompt .prompt__msg {
    font-size: 14px;
    color: #8C8C8C;
    line-height: 22px;
    margin-top: 30px;
}