.table-form_reset {
  >>> .el-table__header th {
    background-color: #F5F5F5;
    padding: 8px 0;
    .cell {
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        background: #E8E8E8;
        width: 1px;
        right: 0;
        top: 0px;
        bottom: 0px;
      }
    }
  }

  >>> .employee-talbe-header-cell {
    background: #F5F5F5;
  }

  >>> .el-table__row {
    height: 48px;
  }
}