.date-picker-bar {
  >>> .el-radio {
    line-height: 14px;
    font-size: 14px;
    height: 32px;
    border: 0;

    .el-radio__input {
      .el-radio__inner {
        display: none;
      }
    }
    .el-radio__label {
      padding-top: 15px;
    }
  }

  >>> label.is-checked {
    background:#F5FBFF;
    /* border: 1px solid transparent; */
  }

  >>> .el-date-editor {
    height: 32px;
    max-width: 365px;
    line-height: 25px;
    .el-range-separator {
      padding-top: 2px;
      color: #8C8C8C;
    }

    .el-range__icon,.el-range__close-icon {
      line-height: 25px;
    }
  }

  >>> .el-input {
    width: 240px;
    height: 32px;
    font-size: 14px;
    margin-left: 16px;
    input {
      height: 32px;
    }
    .el-input__suffix::before {
      display: none;
    }
  }
}