.common-header {
  background-color: #fff;
  margin: -10px -10px 0;
  padding: 16px;
  h3 {
    font-size: 16px;
    color: #262626;
    font-weight: bold;
  }
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* input */
.suffix-input >>> .el-input__suffix:before {
  display: none
}
.suffix-input >>> .el-input__inner {
  padding-left: 9px;
}
/* 表单 */
.form-inline_top {
  .el-form-item {
    &.no-margin {
      margin-right: 0 !important;
    }
    border: 1px solid #D9D9D9;
    padding: 2px 8px;
    margin-right: 16px !important;
    margin-bottom : 8px;
    height:35px;
    box-sizing:border-box;
    border-radius: 2px;
    >>> .el-form-item__label {
      font-size: 14px;
    }
    >>> .el-input__inner {
      border: none;
      font-size: 14px;
      min-width: 150px;
      max-width: 300px;
    }
    >>> .el-range-input {
      font-size: 14px;
      width: 45%;
    }
    >>> .el-range-editor--small .el-range-separator {
      line-height: 22px;
      font-size: 14px;
    }
    >>> .el-input__suffix:before {
      display: none;
    }
  }
  >>>.el-form__change .el-input__inner {
    min-width: 0px;
    max-width: 400px;
  }
}
.normal-from {
  >>> .el-form-item__label {
    font-size: 14px;
    line-height: 22px;
    &:before {
      opacity: 0;
      content: "*";
      color: #F56C6C;
      margin-right: 4px;
    }
  }
  >>> .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before, >>> .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
    opacity: 1;
  }
  >>> .larger-item .el-form-item__label {
    line-height: 32px;
  }
  >>> .el-input--medium .el-input__inner {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
  }
  >>> .is-controls-right .el-input--medium .el-input__inner {
    height: 36px;
    line-height: 36px;
  }
  >>> .el-form-item--medium .el-form-item__content {
    line-height: 32px;
  }
  >>> .el-form-item--mini .el-form-item__content {
    line-height: 21px;
  }
  >>> .el-checkbox__label, >>> .el-radio__label {
    font-size: 14px;
    font-weight: normal;
  }
  >>> .el-form-item {
    margin-bottom: 25px;
  }
  >>> .el-form-item--medium .el-form-item__content .el-checkbox{
    line-height: 21px;
  }

  >>> .el-form-item--medium .el-form-item__content .el-radio{
    line-height: 21px;
  }
  >>> .el-input-number.is-controls-right .el-input__inner {
    padding-right: 44px;
  }
  /* >>> .el-table {
    overflow: visible !important;
  } */
  >>> .el-table .cell {
    overflow: visible !important;
  }
  >>> .el-table::before {
    display: none;
  }
  >>> .el-table__body-wrapper {
    /* overflow: visible !important; */
    padding-bottom:30px;
  }
  >>> .el-date-editor--datetimerange.el-input__inner {
    width: 500px;
  }
  >>> .el-select--medium {
    width: 100%;
    .el-input__suffix {
      height: calc(100% - 2px);
      &::before {
        display: none;
      }
    }
  }
}
/* 表格 */
.new-table_border {
  >>> .el-table__header th {
    background-color: #F5F5F5;
    padding: 8px 0;
    .cell {
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        background: #E8E8E8;
        width: 1px;
        right: 0;
        top: 0px;
        bottom: 0px;
      }
    }
    &:last-child {
      .cell:after {
        display: none;
      }
    }
  }
  /* >>>&.el-table--small {
    font-size: 14px;
  }
  >>>&.el-table--small .el-table__row td {
    padding: 15px 0;
  } */
}
/* 折叠 */
.common-collapse {
  >>> .el-collapse-item__header {
    background-color: #fff;
    font-size: 16px;
    color: #262626;
    position: relative;
    padding-left: 26px;
    height: 56px;
    line-height: 56px;
    margin-bottom:0;
    .el-collapse-item__arrow {
      position: absolute;
      left: 0;
      top: 50%;
      height: 38px;
      margin-top: -19px;
    }
  }
  >>> .el-collapse-item__wrap {
    padding-left: 26px;
  }
  &.noOver >>> .el-collapse-item__wrap {
    overflow: visible !important;
  }
  .is-disabled >>> .el-collapse-item__header{
    .el-collapse-item__arrow {
      display: none;
    }
  }
}
/*popover*/
.form-item_popover {
  padding: 12px 16px;
  >>> .el-popper .el-popover__title {
    padding: 0 !important;
    font-size: 14px;
    color: #8C8C8C;
    line-height: 22px;
    margin-bottom: 13px;
  }
}
/* upload */
.poster-content {
  >>> .el-upload--text {
    width: 100%;
    .el-upload-dragger {
      width: 100%
    }
  }
}
.poster-content {
  padding: 16px;
  padding-bottom: 0;
  background-color: #F5F5F5;
  .poster-set_content {
    padding-top: 16px;
    position: relative;
    &::before {
      border-top:1px solid #E8E8E8;
      position: absolute;
      left: -16px;
      right: -16px;
      top: 0;
      content: ' ';
    }
    >>> .el-col {
      margin-bottom: 24px;
    }
    >>> .el-radio {
      margin-right: 0;
    }
  }
}
.el-tooltip_popper {
  width: 200px;
  background-color: blue;
}
.question-circle {
  position: relative;
  top: 1px;
  left: 3px;
}
/* .NsUi_select {
  width: 100%;
} */
.blue-tip {
  background: #F2F9FE;
  border-radius: 2px;
  padding: 9px 16px;
  font-size: 14px;
  color: #595959;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}