html {
    background: #F5F5F5;
}
.detail  .detail__header {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}
.detail  .detail__content {
    margin: 30px;
    padding: 0 30px;
    background: #FFFFFF;
    border-radius: 10px;
}
.avatar {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    flex-shrink: 0;
}
.uname {
    font-size: 40px;
    color: #292C2E;
    max-width: 78%;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gender {
    width: 29px;
    height: 29px;
    margin-left: 20px;
    flex-shrink: 0;
}
.content {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #F2F2F2;
}
.content--place {
    position: relative;
}
.content .content__title {
    font-size: 36px;
    color: #999999;
    width: 228px;
    text-align: right;
    flex-shrink: 0;
}
.content .content__substance {
    font-size: 36px;
    color: #292C2E;
    margin-left: 50px;
}
.content .content__input {
    font-size: 36px;
    color: #292C2E;
    max-width: 65%;
    margin-left: 50px;
    border: none;
    outline: none;
}
input::placeholder {
    color: #BBBBBB;
}
.content .content__phone {
    width: 45px;
    height: 43px;
    position: absolute;
    right: 20px;
}
.content .content__substance--edit {
    color: #1876FC;
    position: absolute;
    right: 18px;
}
.detail__save {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 108px;
    width: 100%;
    height: 108px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #1876FC;
}
